.link-page {
      display: flex;
    margin-bottom: 12px;
    text-decoration: none;
    font-size: 20px;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
.data-input {
  min-width: 190px;
  min-height: 30px;
}
.timer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 48px;
  font-weight: bold;
}

.label {
  font-size: 24px;
  background: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button[disabled] {
  background-color: grey;
  cursor: not-allowed;
  min-width: 130px;
  min-height: 35px;
}
button[data-start] {
  min-width: 130px;
  min-height: 35px;
  /* background-color: aquamarine; */
}

